.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.topHeader {
  background-color: #f5f5f5;
}
.topHeader ul.ui-menu {
  border: none;
  border-bottom: 1px solid #bbb;
}
.topHeader .ui-menu__itemwrapper {
  box-shadow: none !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.topHeader .ui-menu__itemwrapper a:hover {
  color: #0d1187;
}
.topHeader .ui-menu__itemwrapper a {
  justify-content: flex-start !important;
  text-align: left !important;
}
.ui-menu__itemcontent {
  text-align: left !important;
  justify-content: flex-start !important;
}

.leftConfigContainer {
  display: grid;
  grid-template-columns: 300px auto;
  min-height: calc(100vh - 46px);
}

.configNavMain {
  border-right: 2px solid #ddd;
}

.configNavMain-head {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.configNavMain-head h2 {
  font-size: 20px;
  margin: 0;
  color: #0d1187;
  text-align: left;
}

.mainTempContainer {
  text-align: left;
  padding: 20px;
}

.flex {
  display: flex;
  gap: 40px;
}

.mainTempContainer-head {
  margin-bottom: 20px;
}

.mainTempContainer-head h3 {
  font-size: 20px;
  margin: 0 0 5px;
  color: #0d1187;
}

.mainTempContainer-head span {
  display: block;
  font-size: 14px;
  color: #888;
}

.mainTempContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 50px;
  flex-direction: column;
}

.mainSearchInput {
  position: relative;
  min-width: 250px;
}

.mainSearchInput-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
}

.mainSearchInput .ui-box {
  width: 100%;
}

.mainSearchInput input {
  padding-right: 32px !important;
}

.mainSearchInput-data {
  position: absolute;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2rem 0.4rem -0.075rem;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;
  background: #fff;
  z-index: 1;
}

.mainSearchInput-data div {
  padding: 5px 10px;
}
.settingMegaMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.settingMegaMenu {
  padding: 0;
}
.settingMegaMenu a > ul {
  margin-left: 30px;
}
.settingMegaMenu a > ul a > ul {
  margin-left: 30px;
}
.settingMegaMenu > li:first-child {
  display: none;
}

.settingMegaMenu li {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settingMegaMenu li a {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.settingMegaMenu li::marker {
  display: none;
}

.settingMegaMenu li .ui-icon svg {
  height: 25px;
  width: 25px;
}

.mainTempContainer > .ui-box > .flex > .ui-button {
  background-color: #0d1187;
}
